<button pButton type="button" label="Back" class="back" (click)="onBackClick()"></button>

<form (submit)="register()" [formGroup]="form">
  <div class="card">
    <div class="content-section implementation">
      <div class="p-fluid p-grid">
        <div class="p-field p-col-12 p-md-4">
          <input type="text"
          pInputText formControlName="isbn" class="ng-invalid ng-dirty"  placeholder="Author ID"
          [ngClass]="{ 'is-invalid': submitted && form.controls.isbn.errors }"
          >
          <div *ngIf="submitted && form.controls.isbn.errors" class="invalid-feedback">
            <div *ngIf="form.controls.isbn.errors.required">Book ISBN is required.</div>
        </div>
        </div>
        <div class="p-field p-col-12 p-md-4">
          <input type="text"   pInputText class="ng-invalid ng-dirty" placeholder="Title" formControlName="title"
          [ngClass]="{ 'is-invalid': submitted && form.controls.title.errors }"
          >
        </div>
        <div *ngIf="submitted && form.controls.title.errors" class="invalid-feedback">
          <div *ngIf="form.controls.title.errors.required">Title must be at least seven characters.</div>
      </div>
        <div class="p-field p-col-12 p-md-4">
          <input type="text" formControlName="authors" pInputText class="ng-invalid ng-dirty" placeholder="Author"
          [ngClass]="{ 'is-invalid': submitted && form.controls.authors.errors }"
          >
          <div *ngIf="submitted && form.controls.authors.errors" class="invalid-feedback">
            <div *ngIf="form.controls.authors.errors.required">Author's Name is required.</div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <button pButton type="submit" label="Create Book" class="submit"></button>
</form>
