.p-fluid .p-inputtext {
  width: 50%;
}

button.submit{
  left: 20%;
  margin:10px;
}

button.back{
  margin: 20px;
}

.p-inputtext {
  margin: 10px;
  position: relative;
  left: 20%;
}

@media screen and (max-width: 489px) {
  .p-formgroup-inline .p-field {
    margin-bottom: 1em !important;
 }
}
.layout-content .content-section.implementation > h3 {
  font-weight: 600;
}
textarea {
  resize: none;
}


.ng-star-inserted{
  left:6rem;
  position: relative;
  color: #dc3545;
}
